# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
lib/platforms/android/**/gradle-wrapper.jar
lib/platforms/android/.gradle
lib/platforms/android/captures/
lib/platforms/android/gradlew
lib/platforms/android/gradlew.bat
lib/platforms/android/local.properties
lib/platforms/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
lib/platforms/ios/**/*sync/
lib/platforms/ios/**/.sconsign.dblite
lib/platforms/ios/**/.tags*
lib/platforms/ios/**/.vagrant/
lib/platforms/ios/**/DerivedData/
lib/platforms/ios/**/Icon?
lib/platforms/ios/**/Pods/
lib/platforms/ios/**/.symlinks/
lib/platforms/ios/**/profile
lib/platforms/ios/**/xcuserdata
lib/platforms/ios/.generated/
lib/platforms/ios/Flutter/App.framework
lib/platforms/ios/Flutter/Flutter.framework
lib/platforms/ios/Flutter/Flutter.podspec
lib/platforms/ios/Flutter/Generated.xcconfig
lib/platforms/ios/Flutter/app.flx
lib/platforms/ios/Flutter/app.zip
lib/platforms/ios/Flutter/flutter_assets/
lib/platforms/ios/Flutter/flutter_export_environment.sh
lib/platforms/ios/ServiceDefinitions.json
lib/platforms/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!lib/platforms/ios/**/default.mode1v3
!lib/platforms/ios/**/default.mode2v3
!lib/platforms/ios/**/default.pbxuser
!lib/platforms/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
